[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httplib2 = "*"
oauth2client = "*"
pandas = "*"
jupyter = "*"
requests = "*"
matplotlib = "*"
google-api-python-client = "*"
pycurl = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pipfile = "*"

[requires]
python_version = "3.6"
